<% layout('layout/boilerplate')%>
<h1>Edit the campground below</h1>
    
    <div class="row">
        <div class="col-6 offset-3">
            <form action ="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id ="name" name="campground[name]" value="<%=campground.name %>" required>
                    <div class="valid-feedback">
                        OK!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="loc">Location</label>
                    <input class="form-control" type="text" id ="loc" name="campground[loc]" value="<%=campground.loc %>" required>
                    <div class="valid-feedback">
                        OK!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="desc">Description</label>
                    <textarea class="form-control" type="text" id ="desc" name="campground[desc]" value="<%=campground.desc %>" required></textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price">Price</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" placeholder="0.00" name="campground[price]" value="<%=campground.price %>" required>
                    <div class="valid-feedback">
                        OK!
                    </div>                
                </div>

                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Add more image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) {  %>
                    <img src="<%=img.url%>" width="100px" height="100px"class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% })%>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Save changes</button>
            
                </div>
                
            </form>
            <a href="/campgrounds/<%=campground._id%>">Back to campground</a>
        </div>
    </div>